{
  "openapi": "3.1.0",
  "info": {
    "title": "Decisionproof API",
    "description": "Execution governance surface for budget-bounded AI runs, with idempotent submission, per-run spend-cap enforcement, receipt-backed settlement, RFC 9457 errors, and IETF RateLimit headers. Decisionproof is an execution governance / settlement integrity control layer — not an agent framework, prompt orchestration layer, model router, or model-quality evaluator. This spec describes the Mini Demo (Marketplace) surface exposed via RapidAPI; the production API base URL is https://api.decisionproof.io.kr.",
    "version": "0.4.2.10"
  },
  "servers": [
    {
      "url": "https://api.decisionproof.io.kr",
      "description": "Mini Demo (Marketplace)"
    }
  ],
  "paths": {
    "/v1/demo/runs": {
      "post": {
        "tags": [
          "demo"
        ],
        "summary": "Submit a Demo Run",
        "description": "Submit a demo run for evaluation under the Decisionproof execution governance surface. Returns a run_id for polling. Auth: X-RapidAPI-Proxy-Secret + Bearer token (demo marketplace plan). Demo marketplace plans BASIC (6 POST/min, 1 concurrent) and PRO (24 POST/min, 3 concurrent) are specific to the RapidAPI marketplace listing and are not mapped to the customer-facing Sandbox / Design Partner / Growth / Enterprise tiers described on decisionproof.io.kr.",
        "operationId": "demo_run_create",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "inputs"
                ],
                "properties": {
                  "inputs": {
                    "type": "object",
                    "required": [
                      "question"
                    ],
                    "properties": {
                      "question": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 512,
                        "title": "Question",
                        "description": "Demo run question (max 512 chars). Extra keys at any level are forbidden (422). Decisionproof does not warrant the accuracy, completeness, or suitability of third-party AI model outputs."
                      }
                    },
                    "additionalProperties": false,
                    "title": "Inputs"
                  },
                  "reservation": {
                    "anyOf": [
                      {
                        "type": "object",
                        "additionalProperties": false
                      },
                      {
                        "type": "null"
                      }
                    ],
                    "title": "Reservation",
                    "description": "Optional reservation hints. No extra keys allowed."
                  },
                  "meta": {
                    "anyOf": [
                      {
                        "type": "object",
                        "additionalProperties": false
                      },
                      {
                        "type": "null"
                      }
                    ],
                    "title": "Meta",
                    "description": "Optional client metadata. No extra keys allowed."
                  }
                },
                "additionalProperties": false,
                "title": "DemoRunCreateRequest"
              },
              "example": {
                "inputs": {
                  "question": "Should we approve this budget request for Q1 expansion?"
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication credentials",
            "content": {
              "application/json": {
                "example": {
                  "type": "https://api.decisionproof.io.kr/problems/unauthorized",
                  "title": "Unauthorized",
                  "status": 401,
                  "detail": "Invalid or missing X-RapidAPI-Proxy-Secret"
                }
              }
            }
          },
          "413": {
            "description": "Request body exceeds 4096 bytes",
            "content": {
              "application/json": {
                "example": {
                  "type": "...",
                  "title": "Request Entity Too Large",
                  "status": 413
                }
              }
            }
          },
          "422": {
            "description": "Request validation failed (extra key, question too long, etc.)",
            "content": {
              "application/json": {
                "example": {
                  "type": "https://api.decisionproof.io.kr/problems/validation-error",
                  "title": "Unprocessable Entity",
                  "status": 422,
                  "detail": "Extra inputs are not permitted"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "example": {
                  "type": "https://iana.org/assignments/http-problem-types#quota-exceeded",
                  "title": "Too Many Requests",
                  "status": 429,
                  "detail": "POST rate limit exceeded (6/min BASIC)"
                }
              }
            }
          }
        }
      }
    },
    "/v1/demo/runs/{run_id}": {
      "get": {
        "tags": [
          "demo"
        ],
        "summary": "Poll Demo Run Status",
        "description": "Poll the status of a demo run. Returns COMPLETED with inline result and a fresh presigned download URL (TTL=600s). Min polling interval: BASIC 3s, PRO 2s. Max polls: BASIC 40, PRO 60.",
        "operationId": "demo_run_get",
        "parameters": [
          {
            "name": "run_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Run Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication credentials",
            "content": {
              "application/json": {
                "example": {
                  "type": "https://api.decisionproof.io.kr/problems/unauthorized",
                  "title": "Unauthorized",
                  "status": 401,
                  "detail": "Invalid or missing X-RapidAPI-Proxy-Secret"
                }
              }
            }
          },
          "404": {
            "description": "Run not found (or expired tombstone purged)",
            "content": {
              "application/json": {
                "example": {
                  "type": "...",
                  "title": "Not Found",
                  "status": 404
                }
              }
            }
          },
          "410": {
            "description": "Run has expired and data has been purged (owner only)",
            "content": {
              "application/json": {
                "example": {
                  "type": "...",
                  "title": "Gone",
                  "status": 410
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "example": {
                  "type": "https://iana.org/assignments/http-problem-types#quota-exceeded",
                  "title": "Too Many Requests",
                  "status": 429,
                  "detail": "POST rate limit exceeded (6/min BASIC)"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ActionResult": {
        "properties": {
          "name": {
            "type": "string",
            "title": "Name"
          },
          "http_status": {
            "type": "integer",
            "title": "Http Status"
          },
          "ok": {
            "type": "boolean",
            "title": "Ok"
          },
          "error": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Error"
          }
        },
        "type": "object",
        "required": [
          "name",
          "http_status",
          "ok"
        ],
        "title": "ActionResult",
        "description": "Result of a single email trigger action."
      },
      "AuthResponse": {
        "properties": {
          "user_id": {
            "type": "string",
            "title": "User Id",
            "description": "Supabase user UUID"
          },
          "email": {
            "type": "string",
            "title": "Email",
            "description": "User email"
          },
          "email_confirmed": {
            "type": "boolean",
            "title": "Email Confirmed",
            "description": "Email confirmation status"
          },
          "access_token": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Access Token",
            "description": "JWT access token (only for login)"
          },
          "refresh_token": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Refresh Token",
            "description": "JWT refresh token (only for login)"
          },
          "message": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Message",
            "description": "Additional message (e.g., 'Check your email')"
          }
        },
        "type": "object",
        "required": [
          "user_id",
          "email",
          "email_confirmed"
        ],
        "title": "AuthResponse",
        "description": "Response for successful auth operations."
      },
      "CostInfo": {
        "properties": {
          "reserved_usd": {
            "type": "string",
            "title": "Reserved Usd"
          },
          "used_usd": {
            "type": "string",
            "title": "Used Usd"
          },
          "minimum_fee_usd": {
            "type": "string",
            "title": "Minimum Fee Usd"
          },
          "budget_remaining_usd": {
            "type": "string",
            "title": "Budget Remaining Usd"
          }
        },
        "type": "object",
        "required": [
          "reserved_usd",
          "used_usd",
          "minimum_fee_usd",
          "budget_remaining_usd"
        ],
        "title": "CostInfo",
        "description": "Cost information."
      },
      "ErrorInfo": {
        "properties": {
          "reason_code": {
            "type": "string",
            "title": "Reason Code"
          },
          "detail": {
            "type": "string",
            "title": "Detail"
          }
        },
        "type": "object",
        "required": [
          "reason_code",
          "detail"
        ],
        "title": "ErrorInfo",
        "description": "Error information for failed runs."
      },
      "HTTPValidationError": {
        "properties": {
          "detail": {
            "items": {
              "$ref": "#/components/schemas/ValidationError"
            },
            "type": "array",
            "title": "Detail"
          }
        },
        "type": "object",
        "title": "HTTPValidationError"
      },
      "HealthResponse": {
        "properties": {
          "status": {
            "type": "string",
            "title": "Status"
          },
          "version": {
            "type": "string",
            "title": "Version"
          },
          "services": {
            "additionalProperties": {
              "type": "string"
            },
            "type": "object",
            "title": "Services"
          }
        },
        "type": "object",
        "required": [
          "status",
          "version",
          "services"
        ],
        "title": "HealthResponse",
        "description": "Health check response model."
      },
      "KillSwitchMode": {
        "type": "string",
        "enum": [
          "NORMAL",
          "SAFE_MODE",
          "HARD_STOP"
        ],
        "title": "KillSwitchMode",
        "description": "Kill switch operational modes."
      },
      "KillSwitchResponse": {
        "properties": {
          "mode": {
            "type": "string",
            "title": "Mode"
          },
          "reason": {
            "type": "string",
            "title": "Reason"
          },
          "set_at": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Set At"
          },
          "set_by_ip": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Set By Ip"
          },
          "ttl_minutes": {
            "type": "integer",
            "title": "Ttl Minutes"
          },
          "expires_at": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Expires At"
          },
          "audit_write_ok": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ],
            "title": "Audit Write Ok"
          }
        },
        "type": "object",
        "required": [
          "mode",
          "reason",
          "ttl_minutes"
        ],
        "title": "KillSwitchResponse",
        "description": "Response for kill switch endpoints."
      },
      "LoginRequest": {
        "properties": {
          "email": {
            "type": "string",
            "pattern": "^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,}$",
            "title": "Email",
            "description": "User email address"
          },
          "password": {
            "type": "string",
            "minLength": 8,
            "title": "Password",
            "description": "User password"
          }
        },
        "type": "object",
        "required": [
          "email",
          "password"
        ],
        "title": "LoginRequest",
        "description": "Request body for POST /v1/auth/login."
      },
      "PollInfo": {
        "properties": {
          "href": {
            "type": "string",
            "title": "Href"
          },
          "recommended_interval_ms": {
            "type": "integer",
            "title": "Recommended Interval Ms",
            "default": 1500
          },
          "max_wait_sec": {
            "type": "integer",
            "title": "Max Wait Sec",
            "default": 90
          }
        },
        "type": "object",
        "required": [
          "href"
        ],
        "title": "PollInfo",
        "description": "Polling information."
      },
      "ResultInfo": {
        "properties": {
          "presigned_url": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Presigned Url"
          },
          "sha256": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Sha256"
          },
          "expires_at": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ],
            "title": "Expires At"
          }
        },
        "type": "object",
        "title": "ResultInfo",
        "description": "Result information for completed runs."
      },
      "RunCreateRequest": {
        "properties": {
          "pack_type": {
            "type": "string",
            "title": "Pack Type",
            "description": "Pack type (decision, url, ocr, etc.)"
          },
          "inputs": {
            "additionalProperties": true,
            "type": "object",
            "title": "Inputs",
            "description": "Pack-specific inputs"
          },
          "reservation": {
            "$ref": "#/components/schemas/RunReservation"
          },
          "meta": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/RunMeta"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "type": "object",
        "required": [
          "pack_type",
          "inputs",
          "reservation"
        ],
        "title": "RunCreateRequest",
        "description": "Request body for POST /v1/runs."
      },
      "RunMeta": {
        "properties": {
          "trace_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Trace Id"
          },
          "profile_version": {
            "type": "string",
            "title": "Profile Version",
            "default": "v0.4.2.2"
          }
        },
        "type": "object",
        "title": "RunMeta",
        "description": "Metadata for run."
      },
      "RunReceipt": {
        "properties": {
          "run_id": {
            "type": "string",
            "title": "Run Id"
          },
          "status": {
            "type": "string",
            "title": "Status"
          },
          "poll": {
            "$ref": "#/components/schemas/PollInfo"
          },
          "reservation": {
            "additionalProperties": {
              "type": "string"
            },
            "type": "object",
            "title": "Reservation"
          },
          "meta": {
            "additionalProperties": true,
            "type": "object",
            "title": "Meta"
          }
        },
        "type": "object",
        "required": [
          "run_id",
          "status",
          "poll",
          "reservation",
          "meta"
        ],
        "title": "RunReceipt",
        "description": "Response for POST /v1/runs (202 Accepted)."
      },
      "RunReservation": {
        "properties": {
          "max_cost_usd": {
            "type": "string",
            "pattern": "^\\d+(\\.\\d{1,4})?$",
            "title": "Max Cost Usd (per-run spend cap)",
            "description": "Per-run spend cap — the maximum USD amount reserved for a single run (4dp string). Not an account-level, workspace-level, monthly, or billing-cycle budget."
          },
          "timebox_sec": {
            "type": "integer",
            "maximum": 90.0,
            "minimum": 1.0,
            "title": "Timebox Sec",
            "description": "Execution timeout",
            "default": 90
          },
          "min_reliability_score": {
            "type": "number",
            "maximum": 1.0,
            "minimum": 0.0,
            "title": "Min Reliability Score",
            "description": "Minimum reliability score",
            "default": 0.8
          }
        },
        "type": "object",
        "required": [
          "max_cost_usd"
        ],
        "title": "RunReservation",
        "description": "Reservation parameters for run submission."
      },
      "RunStatusResponse": {
        "properties": {
          "run_id": {
            "type": "string",
            "title": "Run Id"
          },
          "status": {
            "type": "string",
            "title": "Status"
          },
          "money_state": {
            "type": "string",
            "title": "Money State"
          },
          "cost": {
            "$ref": "#/components/schemas/CostInfo"
          },
          "result": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/ResultInfo"
              },
              {
                "type": "null"
              }
            ]
          },
          "error": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/ErrorInfo"
              },
              {
                "type": "null"
              }
            ]
          },
          "meta": {
            "additionalProperties": true,
            "type": "object",
            "title": "Meta"
          }
        },
        "type": "object",
        "required": [
          "run_id",
          "status",
          "money_state",
          "cost",
          "meta"
        ],
        "title": "RunStatusResponse",
        "description": "Response for GET /v1/runs/{run_id}."
      },
      "SetKillSwitchRequest": {
        "properties": {
          "mode": {
            "$ref": "#/components/schemas/KillSwitchMode",
            "description": "Target kill switch mode"
          },
          "reason": {
            "type": "string",
            "maxLength": 200,
            "minLength": 1,
            "title": "Reason",
            "description": "Explanation for mode change (max 200 chars)"
          },
          "ttl_minutes": {
            "type": "integer",
            "minimum": 0.0,
            "title": "Ttl Minutes",
            "description": "Auto-restore to NORMAL after N minutes (0 = no auto-restore, SAFE_MODE only)",
            "default": 0
          }
        },
        "type": "object",
        "required": [
          "mode",
          "reason"
        ],
        "title": "SetKillSwitchRequest",
        "description": "Request for POST /admin/kill-switch."
      },
      "SignupRequest": {
        "properties": {
          "email": {
            "type": "string",
            "pattern": "^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,}$",
            "title": "Email",
            "description": "User email address"
          },
          "password": {
            "type": "string",
            "minLength": 8,
            "title": "Password",
            "description": "User password (minimum 8 characters)"
          }
        },
        "type": "object",
        "required": [
          "email",
          "password"
        ],
        "title": "SignupRequest",
        "description": "Request body for POST /v1/auth/signup."
      },
      "SmokeEmailRequest": {
        "properties": {
          "recipient_email": {
            "type": "string",
            "format": "email",
            "title": "Recipient Email",
            "description": "Test recipient email"
          },
          "mode": {
            "type": "string",
            "enum": [
              "signup+resend",
              "recover",
              "resend_signup_only"
            ],
            "title": "Mode",
            "description": "Email trigger mode",
            "default": "signup+resend"
          },
          "redirect_base": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Redirect Base",
            "description": "Base URL for redirect (optional, defaults to DP_API_BASE_URL)"
          }
        },
        "type": "object",
        "required": [
          "recipient_email"
        ],
        "title": "SmokeEmailRequest",
        "description": "Request for /internal/smoke/email."
      },
      "SmokeEmailResponse": {
        "properties": {
          "supabase_auth": {
            "$ref": "#/components/schemas/SupabaseHealthInfo"
          },
          "actions": {
            "items": {
              "$ref": "#/components/schemas/ActionResult"
            },
            "type": "array",
            "title": "Actions"
          },
          "note": {
            "type": "string",
            "title": "Note"
          }
        },
        "type": "object",
        "required": [
          "supabase_auth",
          "actions",
          "note"
        ],
        "title": "SmokeEmailResponse",
        "description": "Response for /internal/smoke/email."
      },
      "SupabaseHealthInfo": {
        "properties": {
          "health_version": {
            "type": "string",
            "title": "Health Version"
          },
          "health_ok": {
            "type": "boolean",
            "title": "Health Ok"
          }
        },
        "type": "object",
        "required": [
          "health_version",
          "health_ok"
        ],
        "title": "SupabaseHealthInfo",
        "description": "Supabase Auth health info."
      },
      "TokenCreateRequest": {
        "properties": {
          "name": {
            "type": "string",
            "maxLength": 255,
            "minLength": 1,
            "title": "Name",
            "description": "Human-readable token name"
          },
          "scopes": {
            "anyOf": [
              {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Scopes",
            "description": "Token scopes (future use)"
          },
          "expires_in_days": {
            "anyOf": [
              {
                "type": "integer",
                "maximum": 365.0,
                "minimum": 1.0
              },
              {
                "type": "null"
              }
            ],
            "title": "Expires In Days",
            "description": "Token expiration in days (null = never)"
          }
        },
        "type": "object",
        "required": [
          "name"
        ],
        "title": "TokenCreateRequest",
        "description": "Request body for POST /v1/tokens."
      },
      "TokenCreateResponse": {
        "properties": {
          "token": {
            "type": "string",
            "title": "Token",
            "description": "Raw token (display ONCE, never stored)"
          },
          "token_id": {
            "type": "string",
            "title": "Token Id",
            "description": "Token UUID"
          },
          "prefix": {
            "type": "string",
            "title": "Prefix",
            "description": "Token prefix (dp_live, dp_test)"
          },
          "last4": {
            "type": "string",
            "title": "Last4",
            "description": "Last 4 characters for display"
          },
          "name": {
            "type": "string",
            "title": "Name",
            "description": "Token name"
          },
          "scopes": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Scopes",
            "description": "Token scopes"
          },
          "status": {
            "type": "string",
            "title": "Status",
            "description": "Token status (active)"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "title": "Created At",
            "description": "Creation timestamp"
          },
          "expires_at": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ],
            "title": "Expires At",
            "description": "Expiration timestamp"
          }
        },
        "type": "object",
        "required": [
          "token",
          "token_id",
          "prefix",
          "last4",
          "name",
          "status",
          "created_at"
        ],
        "title": "TokenCreateResponse",
        "description": "Response for POST /v1/tokens (display-once)."
      },
      "TokenListItem": {
        "properties": {
          "token_id": {
            "type": "string",
            "title": "Token Id",
            "description": "Token UUID"
          },
          "name": {
            "type": "string",
            "title": "Name",
            "description": "Token name"
          },
          "prefix": {
            "type": "string",
            "title": "Prefix",
            "description": "Token prefix"
          },
          "last4": {
            "type": "string",
            "title": "Last4",
            "description": "Last 4 characters"
          },
          "scopes": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Scopes",
            "description": "Token scopes"
          },
          "status": {
            "type": "string",
            "title": "Status",
            "description": "active | rotating | revoked | expired"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "title": "Created At",
            "description": "Creation timestamp"
          },
          "expires_at": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ],
            "title": "Expires At",
            "description": "Expiration timestamp"
          },
          "revoked_at": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ],
            "title": "Revoked At",
            "description": "Revocation timestamp"
          },
          "last_used_at": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ],
            "title": "Last Used At",
            "description": "Last usage timestamp"
          }
        },
        "type": "object",
        "required": [
          "token_id",
          "name",
          "prefix",
          "last4",
          "status",
          "created_at"
        ],
        "title": "TokenListItem",
        "description": "Token list item (no raw token)."
      },
      "TokenListResponse": {
        "properties": {
          "tokens": {
            "items": {
              "$ref": "#/components/schemas/TokenListItem"
            },
            "type": "array",
            "title": "Tokens",
            "description": "List of tokens"
          }
        },
        "type": "object",
        "required": [
          "tokens"
        ],
        "title": "TokenListResponse",
        "description": "Response for GET /v1/tokens."
      },
      "TokenRevokeAllResponse": {
        "properties": {
          "revoked_count": {
            "type": "integer",
            "title": "Revoked Count",
            "description": "Number of tokens revoked"
          },
          "revoked_token_ids": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Revoked Token Ids",
            "description": "List of revoked token UUIDs"
          }
        },
        "type": "object",
        "required": [
          "revoked_count",
          "revoked_token_ids"
        ],
        "title": "TokenRevokeAllResponse",
        "description": "Response for POST /v1/tokens/revoke-all."
      },
      "TokenRevokeResponse": {
        "properties": {
          "token_id": {
            "type": "string",
            "title": "Token Id",
            "description": "Revoked token UUID"
          },
          "status": {
            "type": "string",
            "title": "Status",
            "description": "New status (revoked)"
          },
          "revoked_at": {
            "type": "string",
            "format": "date-time",
            "title": "Revoked At",
            "description": "Revocation timestamp"
          }
        },
        "type": "object",
        "required": [
          "token_id",
          "status",
          "revoked_at"
        ],
        "title": "TokenRevokeResponse",
        "description": "Response for POST /v1/tokens/{token_id}/revoke."
      },
      "TokenRotateResponse": {
        "properties": {
          "new_token": {
            "type": "string",
            "title": "New Token",
            "description": "New raw token (display ONCE)"
          },
          "new_token_id": {
            "type": "string",
            "title": "New Token Id",
            "description": "New token UUID"
          },
          "old_token_id": {
            "type": "string",
            "title": "Old Token Id",
            "description": "Old token UUID"
          },
          "old_status": {
            "type": "string",
            "title": "Old Status",
            "description": "Old token status (rotating)"
          },
          "old_expires_at": {
            "type": "string",
            "format": "date-time",
            "title": "Old Expires At",
            "description": "Old token grace period expiration"
          },
          "grace_period_minutes": {
            "type": "integer",
            "title": "Grace Period Minutes",
            "description": "Grace period in minutes"
          }
        },
        "type": "object",
        "required": [
          "new_token",
          "new_token_id",
          "old_token_id",
          "old_status",
          "old_expires_at",
          "grace_period_minutes"
        ],
        "title": "TokenRotateResponse",
        "description": "Response for POST /v1/tokens/{token_id}/rotate."
      },
      "UsageDailySummary": {
        "properties": {
          "usage_date": {
            "type": "string",
            "title": "Usage Date",
            "description": "Date in YYYY-MM-DD format"
          },
          "runs_count": {
            "type": "integer",
            "title": "Runs Count"
          },
          "success_count": {
            "type": "integer",
            "title": "Success Count"
          },
          "fail_count": {
            "type": "integer",
            "title": "Fail Count"
          },
          "cost_usd_micros_sum": {
            "type": "integer",
            "title": "Cost Usd Micros Sum"
          },
          "reserved_usd_micros_sum": {
            "type": "integer",
            "title": "Reserved Usd Micros Sum"
          }
        },
        "type": "object",
        "required": [
          "usage_date",
          "runs_count",
          "success_count",
          "fail_count",
          "cost_usd_micros_sum",
          "reserved_usd_micros_sum"
        ],
        "title": "UsageDailySummary",
        "description": "Daily usage summary for a tenant."
      },
      "UsageResponse": {
        "properties": {
          "tenant_id": {
            "type": "string",
            "title": "Tenant Id"
          },
          "from_date": {
            "type": "string",
            "title": "From Date",
            "description": "Start date (inclusive) in YYYY-MM-DD"
          },
          "to_date": {
            "type": "string",
            "title": "To Date",
            "description": "End date (inclusive) in YYYY-MM-DD"
          },
          "daily_usage": {
            "items": {
              "$ref": "#/components/schemas/UsageDailySummary"
            },
            "type": "array",
            "title": "Daily Usage"
          }
        },
        "type": "object",
        "required": [
          "tenant_id",
          "from_date",
          "to_date",
          "daily_usage"
        ],
        "title": "UsageResponse",
        "description": "Response for GET /v1/tenants/{tenant_id}/usage."
      },
      "ValidationError": {
        "properties": {
          "loc": {
            "items": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "integer"
                }
              ]
            },
            "type": "array",
            "title": "Location"
          },
          "msg": {
            "type": "string",
            "title": "Message"
          },
          "type": {
            "type": "string",
            "title": "Error Type"
          },
          "input": {
            "title": "Input"
          },
          "ctx": {
            "type": "object",
            "title": "Context"
          }
        },
        "type": "object",
        "required": [
          "loc",
          "msg",
          "type"
        ],
        "title": "ValidationError"
      }
    },
    "securitySchemes": {
      "HTTPBearer": {
        "type": "http",
        "description": "Supabase JWT Session Token",
        "scheme": "bearer"
      },
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "dp_live_{secret}",
        "description": "Bearer token authentication. Format: dp_live_{secret} (example placeholder: dp_live_your_key_here). Include Idempotency-Key header for duplicate prevention."
      }
    }
  },
  "security": [
    {
      "BearerAuth": []
    }
  ]
}